<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla.html :: head"></head>
<body class="g-sidenav-show  bg-gray-200">
  <aside th:replace="plantilla/plantilla.html :: aside"></aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav th:replace="plantilla/plantilla.html :: navbar"></nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row mt-4">
      
        <div class="col-lg-4 col-md-6 mt-4 mb-4" th:each="receta : ${recetas}">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-dark shadow-primary border-radius-lg py-3 pe-1">
                <div class="chart">
                  <iframe width="100%" height="100%" th:src="${receta.video}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0" th:text="${receta.nombre}">Website Views</h6>
              <p class="text-sm" th:text="${receta.preparacion}">Last Campaign Performance</p>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm" th:text="${receta.alcance}"> campaign sent 2 days ago </p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <footer th:replace="plantilla/plantilla.html :: footer"></footer>
    </div>
  </main>
  
  <!--   Core JS Files   -->
  <script th:src="@{/assets/js/core/popper.min.js}"></script>
  <script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
</body>

</html>